<section class="container-lg bg-cover">
	<div class="px-3 py-5">
		<div class="row">
			<div class="col-12">
				<div>
					<h1 class="">
                        Política de cookies
                    </h1>
                    <p>
                        Desde Alimerka deseamos informarle que nuestra página web utiliza cookies propias y de terceros para realizar análisis de uso y de medición de nuestra web en áreas de mejorar nuestros servicios.
                    </p>
                    <h2 class="h3 mt-5 text-black">¿LAS COOKIES?</h2>
                    <p>
                        Las cookies son unos archivos que se instalan en el equipo desde el que se accede a nuestra web con las finalidades que se describen en esta página. 
                    </p>
                    <h2 class="h3 mt-5 text-black">¿QUÉ COCKIES UTILIZA NUESTRA PÁGINA WEB?</h2>
                    <ul class="pb-3">
                        <li>Cookies persistentes: Son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y/o tratados durante un periodo de tiempo determinado, que puede ir de unos minutos a varios años.</li>
                        <li>Cookies de terceros: Son aquéllas que se envían a tu ordenador o terminal desde un dominio o una página web que no es gestionada por nosotros, sino por otra entidad que trata los datos obtenidos a través de las cookies.</li>
                        <li>Tienen una duración de 2 años.</li>
                        <li>Cookies de análisis: Son aquellas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y realizar la medición y análisis estadístico de la utilización que hacen los usuarios de nuestra web. Para ello analizamos la navegación en nuestra página web con el fin de mejorar la oferta de productos y/o servicios que ofrecemos.</li>
                    </ul>
                    <p>
                        La tabla que se muestra a continuación proporciona un resumen de las cookies que usamos y las razones de su uso.
                    </p>
                    <script id="CookieDeclaration" src="https://consent.cookiebot.com/784ed3a0-4bd3-4083-a8f6-741a08b9455e/cd.js" type="text/javascript" async></script> <style>.CookieDeclaration p{display:none;}</style>
                    <!--<table class="table table-striped table-bordered text-small text-start mb-2">
                        <thead>
                            <tr>
                                <th>Nombre de la cookie</th>
                                <th>Proveedor</th>
                                <th>Tipo de cookie</th>
                                <th>Propósito</th>
                                <th>Duración de la cookie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>google.com/Doubleclick.com</td>
                                <td>Google/Doubleclick</td>
                                <td>Analytics</td>
                                <td>Google Analytics es la herramienta de análisis de Google que ayuda a los propietarios de sitios web y de aplicaciones a entender cómo interactúan los visitantes con sus propiedades. Esta herramienta puede utilizar un conjunto de cookies para recoger información y ofrecer estadísticas de uso de los sitios web sin identificar personalmente a Google los visitantes de las mismas. La principal cookie que utiliza Google Analytics es “_ga”.
                                    Además de para ofrecer estadísticas de uso de los sitios web, los datos que Google Analytics recoge en las propiedades de Google también se pueden utilizar junto con algunas de las cookies publicitarias descritas anteriormente para mostrar anuncios más relevantes en las propiedades de Google (p. ej., en el buscador de Google) y en toda la Web y para medir las interacciones con los anuncios que se muestran.
                                    </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>_ga</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se usa para distinguir a los usuarios.</td>
                                <td>2 años</td>
                            </tr>
                            <tr>
                                <td>_gid</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se usa para distinguir a los usuarios.</td>
                                <td>24 horas</td>
                            </tr>
                            <tr>
                                <td>_gat</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se usa para limitar el porcentaje de solicitudes. Si se ha implementado Google Analytics mediante Google Tag Manager, esta cookie se llamará _dc_gtm_&lt;property-id&gt;.</td>
                                <td>1 minuto</td>
                            </tr>
                            <tr>
                                <td>AMP_TOKEN</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Incluye un token que se puede utilizar para recuperar un ID de cliente del servicio de IDs de cliente de AMP. Otros posibles valores indican inhabilitaciones, solicitudes en curso o errores obtenidos al recuperar un IDs del servicio de IDs de cliente de AMP.</td>
                                <td>De 30 segundos a 1 año</td>
                            </tr>
                            <tr>
                                <td>_gac_&lt;property-id&gt;</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Incluye información de la campaña relativa al usuario. Si has vinculado tus cuentas de Google Analytics y Google Ads, las etiquetas de conversión en sitio web de Google Ads leerán esta cookie, a menos que la inhabilites.</td>
                                <td>90 días</td>
                            </tr>
                            <tr>
                                <td>__utma</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se usa para distinguir usuarios y sesiones. La cookie se crea cuando se ejecuta la biblioteca de JavaScript y no hay ninguna cookie __utma. La cookie se actualiza cada vez que se envían datos a Google Analytics.</td>
                                <td>2 años a partir de la configuración o actualización</td>
                            </tr>
                            <tr>
                                <td>__utmt</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se usa para limitar el porcentaje de solicitudes.</td>
                                <td>10 minutos</td>
                            </tr>
                            <tr>
                                <td>__utmb</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se usa para determinar nuevas sesiones o visitas. La cookie se crea cuando se ejecuta la biblioteca de JavaScript y no hay ninguna cookie __utmb. La cookie se actualiza cada vez que se envían datos a Google Analytics.</td>
                                <td>30 minutos a partir de la configuración o actualización</td>
                            </tr>
                            <tr>
                                <td>__utmc</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>No se usa en ga.js. Se configura para interactuar con urchin.js. Anteriormente, esta cookie actuaba junto con la cookie __utmb para determinar si el usuario estaba en una nueva sesión o visita.</td>
                                <td>Fin de la sesión del navegador</td>
                            </tr>
                            <tr>
                                <td>__utmz</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Almacena la fuente de tráfico o la campaña que explica cómo ha llegado el usuario al sitio web. La cookie se crea cuando se ejecuta la biblioteca de JavaScript y se actualiza cada vez que se envían datos a Google Analytics.</td>
                                <td>6 meses a partir de la configuración o actualización</td>
                            </tr>
                            <tr>
                                <td>__utmv</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se usa para almacenar datos de variables personalizadas a nivel de visitante. Esta cookie se crea cuando un programador usa el método _setCustomVar con una variable personalizada a nivel de visitante. También se usaba para el método _setVar, que ya no está disponible. La cookie se actualiza cada vez que se envían datos a Google Analytics.</td>
                                <td>2 años a partir de la configuración o actualización</td>
                            </tr>
                            <tr>
                                <td>__utmx</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se usa para determinar la inclusión de un usuario en un experimento.</td>
                                <td>18 meses</td>
                            </tr>
                            <tr>
                                <td>__utmxx</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se usa para determinar la caducidad de los experimentos en los que se ha incluido a un usuario.</td>
                                <td>18 meses</td>
                            </tr>
                            <tr>
                                <td>_gaexp</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se utiliza para determinar la inclusión de un usuario en un experimento y la caducidad de los experimentos en los que participa.</td>
                                <td>Depende de la duración del experimento, pero suele ser de 90 días</td>
                            </tr>

                            <tr>
                                <td>_opt_awcid</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se utiliza para las campañas asociadas a IDs de cliente de Google Ads.</td>
                                <td>24 horas</td>
                            </tr>
                            <tr>
                                <td>_opt_awmid</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se utiliza para las campañas asociadas a IDs de campaña de Google Ads.</td>
                                <td>24 horas</td>
                            </tr>
                            <tr>
                                <td>_opt_awgid</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se utiliza para las campañas asociadas a IDs de grupo de anuncios de Google Ads.</td>
                                <td>24 horas</td>
                            </tr>
                            <tr>
                                <td>_opt_awkid</td>
                                <td>Google</td>
                                <td>Analytics</td>
                                <td>Se utiliza para las campañas asociadas a IDs de criterio de Google Ads.</td>
                                <td>24 horas</td>
                            </tr>
                            <tr>
                                <td>_opt_utmc</td>
                                <td> Google</td>
                                <td>Analytics</td>
                                <td>Almacena el último parámetro de consulta utm_campaign.</td>
                                <td>24 horas</td>
                            </tr>
                        </tbody>
                    </table>-->
                    <p class="text-small">
                    ESTA INFORMACIÓN LA UTILIZAMOS PARA MEJORAR NUESTRA PÁGINA, DETECTAR NUEVAS NECESIDADES Y VALORAR LAS MEJORAS A INTRODUCIR CON LA FINALIDAD DE PRESTAR UN MEJOR SERVICIO A LOS USUARIOS QUE NOS VISITAN.
                    </p>
                    <p>Puede revocar su consentimiento sobre las cookies. Al realizar esta acción, es posible que durante su navegación, no consiga obtener todas las funcionalidades de la web, ni en la utilización parcial o total del servicio. La revocación de las cookies no afectará negativamente en el ejercicio de sus derechos, (por ejemplo para solicitar la baja en un servicio).</p>
                    <p>Para permitir, conocer, bloquear o eliminar las cookies instaladas en su equipo puede hacerlo mediante la configuración de las opciones del navegador instalado en su ordenador.</p>
                    <ul>
                        <li>Firefox desde aquí: <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" class="text-body text-decoration-underline" rel="noopener" target="_blank">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></li>
                        <li>Chrome desde aquí: <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647" class="text-body text-decoration-underline" rel="noopener" target="_blank">http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</a></li>
                        <li>Explorer desde aquí: <a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" class="text-body text-decoration-underline" rel="noopener" target="_blank">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</a></li>
                        <li>Safari desde aquí: <a href="http://support.apple.com/kb/ph5042" class="text-body text-decoration-underline" rel="noopener" target="_blank">http://support.apple.com/kb/ph5042</a></li>
                        <li>Opera desde aquí: <a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html" class="text-body text-decoration-underline" rel="noopener" target="_blank">http://help.opera.com/Windows/11.50/es-ES/cookies.html</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>