<section class="container-lg">
	<div class="px-3 py-5">
		<h1 class="gotham-bold mb-4">
			FAQS
		</h1>
		<h2 class="h4 mt-2 mt-lg-4 text-black">
			¿QUÉ TENGO QUE HACER PARA PARTICIPAR EN LA PROMOCIÓN?
		</h2>		
		<p>
			Para participar al evento “Gran Showcooking de Navidad con Pepe Rodríguez y Nacho Manzano”, deberás realizar una compra superior a 35€ en cualquier tienda Alimerka o supermercado online. 
		</p>
		<a name="_gjdgxs"></a>
		<p>
			Solo debes registrar el código que encontrarás en tu ticket de compra o en tu e-mail de confirmación de pedido en <a class="text-body text-decoration-underline"
			href="{{ router_url({controller: 'Pages', action: 'index'}) }}">{{ root }}</a> entre el 2 noviembre y el 23 de noviembre de 2022.
		</p>
		<p>
			Tendrás que introducir tu código y sabrás al momento si has ganado. Si fuese así, recibirás un e-mail de confirmación en el que encontrarás un código QR que contiene tus entradas dobles para asistir al Gran Showcooking de Navidad con Pepe Rodríguez y Nacho Manzano. 
		</p>
		<h2 class="h4 mt-2 mt-lg-4 text-black">
			¿PUEDO REGALAR MI ENTRADA?
		</h2>
		<p>
			Sí, al no ser códigos nominativos puedes cederlo a un amigo o familiar para participar en el sorteo de las entradas para el Showcooking de Navidad. 
		</p>
		<h2 class="h4 mt-2 mt-lg-4 text-black">
			¿PUEDO REGISTRAR MÁS DE UN CÓDIGO?
		</h2>
		<p>
			Sí, todas las compras superiores a 35€ generarán un código, con lo cual se puede registrar los diferentes códigos hasta ganar. 
		</p>
		<h2 class="h4 mt-2 mt-lg-4 text-black">
			¿EN QUÉ CONSISTE EL REGALO?
		</h2>
		<p>
			Tu premio consiste en dos entradas dobles para poder asistir al gran Showcooking de Navidad impartido por el chef Pepe Rodríguez y Nacho Manzano para aprender a cocinar un menú de Navidad. Dicho evento se realizará el día 29 de noviembre de 2022 a las 19:30 horas en exclusiva para los participantes registrados. 
		</p>
		<h2 class="h4 mt-2 mt-lg-4 text-black">
			HE PERDIDO MI TICKET DE COMPRA ¿PUEDO PARTICIPAR?
		</h2>
		<p>
			Lamentablemente el ticket de compra es importante para registrarte en la promoción .
		</p>
		<p>
			Para evitar su extravío hazle una foto a tu ticket.
		</p>
		<h2 class="h4 mt-2 mt-lg-4 text-black">
			NO ME HA LLEGADO UN E-MAIL DE CONFIRMACIÓN.
		</h2>
		<p>
			Comprueba tu bandeja de "spam" o "Correo no deseado", por si se hubiera almacenado ahí.
		</p>
		<p>
			Una vez que lo hayas revisado, si todavía no te ha llegado el e-mail de verificación, podrás escribir un e-mail a <a class="text-body text-decoration-underline"
			href="mailto:35aniversario@alimerka.es">35aniversario@alimerka.es.</a> para recibir tu confirmación.
		</p>
		<h2 class="h4 mt-2 mt-lg-4 text-black">
			TODAVÍA TENGO DUDAS, ¿PUEDO CONTACTAR CON VOSOTROS?
		</h2>
		<p>
			Estamos disponibles para ti de lunes a viernes de 09.00 a 17.00 en el teléfono gratuito 
			<a class="text-body text-decoration-underline" href="tel:0034900350000"> 900 35 00 00
			</a> o bien, si lo prefieres en el e-mail <a class="text-body text-decoration-underline"
			href="mailto:35aniversario@alimerka.es">35aniversario@alimerka.es.</a>
		</p>
		<p>
			*fines de semana, festivos nacionales, festivos locales y de su comunidad autónoma excluidos.
		</p>
	</div>
</section>