<div class="scroll-anchor" id="home"></div>
<section class="bg-cover bg-image-navidad bg-top bg-light-grey d-flex align-items-top mb-3">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 offset-md-6 text-end">
				<div class="jumbotron bg-transparent mb-0">
					{% include 'elements/header-form.twig' %}
				</div>
			</div>
		</div>
	</div>
</section>

<div class="scroll-anchor" id="how"></div>
<section class="mb-5">
	{% include 'elements/how.twig' %}
</section>


<div class="scroll-anchor" id="contact"></div>
<section class="mb-5">
	{% include 'elements/contact.twig' %}
</section>
