<section class="bg-light-grey py-5">
    <div class="container text-white">
        <div class="row">
            <div class="col-12">
                <div>
                    <h1 class="">
                        Información básica sobre Protección de Datos
                    </h1>
                    <h2 class="h3 mt-5 text-yellow">
                        Lorem ipsum:
                    </h2>
                    <p>
                        Lorem ipsum: dolor sit amet
                        <br>Lorem ipsum: dolor sit amet
                        <br>Lorem ipsum: dolor sit amet
                        <br>Lorem ipsum: dolor sit amet
                    </p>
                    <h2 class="h3 mt-5 text-yellow">Lorem ipsum:</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia arcu augue, vel convallis est ullamcorper sed. Ut eget libero vel odio faucibus pretium ut eu dui. Curabitur quis dui vitae odio tempus luctus id ac nulla. Etiam ut turpis eget justo consectetur suscipit sed ac tellus. Nam sodales purus tortor, eu facilisis ligula pulvinar placerat. Integer rutrum ligula dui, in feugiat diam pharetra sit amet. Nunc eu ultricies eros.
                    </p>
                    <h2 class="h3 mt-5 text-yellow">Lorem ipsum:</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia arcu augue, vel convallis est ullamcorper sed. Ut eget libero vel odio faucibus pretium ut eu dui. Curabitur quis dui vitae odio tempus luctus id ac nulla. Etiam ut turpis eget justo consectetur suscipit sed ac tellus. Nam sodales purus tortor, eu facilisis ligula pulvinar placerat. Integer rutrum ligula dui, in feugiat diam pharetra sit amet. Nunc eu ultricies eros.
                    </p>
                    <h2 class="h3 mt-5 text-yellow">Lorem ipsum:</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia arcu augue, vel convallis est ullamcorper sed. Ut eget libero vel odio faucibus pretium ut eu dui. Curabitur quis dui vitae odio tempus luctus id ac nulla. Etiam ut turpis eget justo consectetur suscipit sed ac tellus. Nam sodales purus tortor, eu facilisis ligula pulvinar placerat. Integer rutrum ligula dui, in feugiat diam pharetra sit amet. Nunc eu ultricies eros.
                    </p>
                    <h2 class="h3 mt-5 text-yellow">Lorem ipsum:</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia arcu augue, vel convallis est ullamcorper sed. Ut eget libero vel odio faucibus pretium ut eu dui. Curabitur quis dui vitae odio tempus luctus id ac nulla. Etiam ut turpis eget justo consectetur suscipit sed ac tellus. Nam sodales purus tortor, eu facilisis ligula pulvinar placerat. Integer rutrum ligula dui, in feugiat diam pharetra sit amet. Nunc eu ultricies eros.
                    </p>
                    <h2 class="h3 mt-5 text-yellow">Lorem ipsum:</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia arcu augue, vel convallis est ullamcorper sed. Ut eget libero vel odio faucibus pretium ut eu dui. Curabitur quis dui vitae odio tempus luctus id ac nulla. Etiam ut turpis eget justo consectetur suscipit sed ac tellus. Nam sodales purus tortor, eu facilisis ligula pulvinar placerat. Integer rutrum ligula dui, in feugiat diam pharetra sit amet. Nunc eu ultricies eros.
                    </p>
                    <h2 class="h3 mt-5 text-yellow">Lorem ipsum:</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia arcu augue, vel convallis est ullamcorper sed. Ut eget libero vel odio faucibus pretium ut eu dui. Curabitur quis dui vitae odio tempus luctus id ac nulla. Etiam ut turpis eget justo consectetur suscipit sed ac tellus. Nam sodales purus tortor, eu facilisis ligula pulvinar placerat. Integer rutrum ligula dui, in feugiat diam pharetra sit amet. Nunc eu ultricies eros.
                    </p>
                    <h2 class="h3 mt-5 text-yellow">Más información:</h2>
                    <p>
                        Puede consultar la información adicional y detallada sobre protección de Datos en <br>
                        <a href="{{ router_url({controller: 'Pages', action: 'index'}) }}" class="text-underline text-yellow">www.lorem-ipsum.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>