<section class="container-lg bg-cover">
	<div class="px-3 py-5">
		<h1 class="gotham-bold mb-4 text-uppercase">
			Política de privacidad
		</h1>
		<p>
			Alimerka S.A.U. está especialmente sensibilizada en la protección de datos de carácter personal de los
			Usuarios de los servicios del sitio Web. Mediante la presente Política de Privacidad (en adelante, la
			Política) Alimerka, informa a los USUARIOS del sitio web <a href="https://www.alimerka.es/" target="_blank"
				rel="noopener" class="text-body text-decoration-underline">www.alimerka.es</a> de los usos a los que se
			someten los datos de carácter personal que se recaban en sitio Web, con el fin de que decidan, libre y
			voluntariamente, si desean facilitar la información solicitada.
		</p>
		<p>
			Alimerka se reserva la facultad de modificar esta Política con el objeto de adaptarla a novedades
			legislativas, criterios jurisprudenciales, prácticas del sector, o intereses de la entidad. Cualquier
			modificación en la misma será anunciada con la debida antelación, a fin de que tenga perfecto conocimiento
			de su contenido.
		</p>
		<h2 class="h3 mt-4">
			RESPONSABLE
		</h2>
		<p>
			El Responsable del Tratamiento de los datos de carácter personal es:
		</p>
		<ul>
			<li>ALIMERKA, S.A.U.</li>
			<li>CIF 33093097A</li>
			<li>Castiello, s/n - 33690 Lugo de Llanera (Asturias)</li>
			<li><a href="https://www.alimerka.es/" target="_blank" rel="noopener"
					class="text-body text-decoration-underline">www.alimerka.es</a></li>
			<li>Inscrita en el Registro Mercantil de Asturias, Tomo 714 Folio 191 Sección 3ª Hoja 2.606</li>
			<li>Tel: <a href="tel:985792100" class="text-body text-decoration-underline">985 792 100</a> / <a
					class="text-body text-decoration-underline" href="tel:900100126">900 100 126</a> </li>
			<li>E-mail: <a href="mailto:atención_al_cliente@alimerka.es" rel="noopener"
					class="text-body text-decoration-underline">atención_al_cliente@alimerka.es</a></li>
		</ul>

		<h2 class="h3 mt-4">
			FINALIDAD DEL TRATAMIENTO
		</h2>
		<p>
			La recogida y tratamiento de los datos personales, tiene como finalidad la gestión, administración,
			prestación, ampliación y mejora de los servicios prestados por Alimerka, atender a las solicitudes de
			información plateadas o bien las publicaciones o cualesquiera de los servicios o actividades, actos o
			eventos prestados, ofertados, patrocinados y/o esponsorizados por Alimerka.
		</p>
		<h2 class="h3 mt-4">
			PLAZO DE CONSERVACIÓN
		</h2>
		<p>
			Los datos personales proporcionados se conservarán durante el plazo correspondiente para cumplir con las
			obligaciones legales, o hasta que se solicite su supresión por el interesado y este esté legitimado para
			ello.
		</p>
		<h2 class="h3 mt-4">
			LEGITIMACIÓN
		</h2>
		<p>
			Alimerka está legitimado al tratamiento de datos personales, en base al consentimiento otorgado por el
			interesado para uno o varios fines específicos, tal y como recoge el artículo 6.1.a) del Reglamento General
			de Protección de datos personales.
		</p>
		<h2 class="h3 mt-4">
			DESTINATARIOS
		</h2>
		<p>
			Con el fin de que los datos obrantes en nuestros ficheros, informáticos y/o en papel, siempre correspondan a
			la realidad, se tratará de mantenerlos actualizados. De manera que, a estos efectos, el Usuario deberá
			realizar los cambios, directamente, cuando así esté habilitado o comunicándose, por medio fehaciente, al
			área o departamento correspondiente a Alimerka.
		</p>
		<p>
			Los datos personales recabados a través del correo electrónico propiedad del responsable del tratamiento, no
			serán cedidos o comunicados a terceros, salvo en los supuestos necesarios para el desarrollo, control y
			cumplimiento de la/s finalidad/es expresada/s, en los supuestos previstos según Ley, así como en los casos
			específicos, de los que se informe expresamente al Usuario.
		</p>
		<h2 class="h3 mt-4">
			DERECHOS DE LOS USUARIOS
		</h2>
		<p>
			El interesado de los datos personales, en todo caso podrá ejercitar los derechos que le asisten, de acuerdo
			con el RGPD, y que son:
		</p>
		<ul>
			<li>
				Derecho a solicitar el acceso a los datos personales relativos al interesado,
			</li>
			<li>
				Derecho a solicitar su rectificación,
			</li>
			<li>
				Derecho a solicitar su supresión,
			</li>
			<li>
				Derecho a solicitar la limitación de su tratamiento,
			</li>
			<li>
				Derecho a oponerse al tratamiento,
			</li>
			<li>
				Derecho a la portabilidad de los datos
			</li>
		</ul>
		<p>
			El interesado podrá ejercitar tales derechos mediante solicitud acompañada de una fotocopia de su D.N.I, y
			en la que especificará cuál de éstos solicita sea satisfecho, remitida a Alimerka, Castiello 145, 33690 Lugo
			de Llanera (Asturias), indicando claramente en el sobre <u>Referencia RGPD</u>, o a <a
				class="text-body text-decoration-underline" href="mailto:lopd@alimerka.es">lopd@alimerka.es</a>
		</p>
		<h2 class="h3 mt-4">
			PROCEDENCIA (SÓLO SI LOS DATOS NO PROCEDEN DEL INTERESADO)
		</h2>
		<p>
			Alimerka ha adoptado en su sistema de información las medidas técnicas y organizativas legalmente
			requeridas, a fin de garantizar la seguridad y confidencialidad de los datos almacenados, evitando así, en
			la medida de lo posible, su alteración, pérdida, tratamiento o acceso no autorizado.
		</p>
		<h2 class="h3 mt-4">
			MEDIDAS DE SEGURIDAD
		</h2>
		<p>
			El responsable del tratamiento aplicará medidas técnicas y organizativas apropiadas para garantizar un nivel
			de seguridad adecuado al riesgo del mismo.
		</p>
	</div>
</section>