<section class="container-lg bg-cover">
	<div class="px-3 py-5">
		<h1 class="gotham-bold mb-5">
			BASES DE LA PROMOCIÓN <span class="d-block h3 gotham-bold">"Showcooking Navidad con Pepe Rodríguez y Nacho Manzano"
		</h1>
		<h2 class="h3 mt-4">
				PRIMERO.- EMPRESA ORGANIZADORA DE LA PROMOCIÓN
		</h2>
		<p>
			La presente promoción se organiza por la entidad ALIMERKA, S.A.U., domiciliada en Lugo de Llanera (Asturias),
			Castiello, 145 - 33690, con NIF número A-33093097, (en adelante, la "COMPAÑÍA").
		</p>

		<h2 class="h3 mt-4">
				SEGUNDO.- OBJETO DE LA PROMOCIÓN
		</h2>
		<p>
			A través de la presente promoción (en adelante, la "Promoción") la COMPAÑÍA pretende promocionar las ventas
			de los productos que fabrica y/o comercializa.
		</p>

		<h2 class="h3 mt-4">
				TERCERO.- ÁMBITO GEOGRÁFICO
		</h2>
		<p>
			El ámbito de aplicación de esta Promoción es todo el territorio español, y en particular en los
			establecimientos ubicados en las comunidades autónomas de Galicia, Asturias y de Castilla y León, clientes
			de la COMPAÑÍA residentes en España, que adquieran el producto promocionado en los establecimientos
			anteriormente citados o a través de la tienda online de la COMPAÑÍA: www.alimerkaonline.es.
		</p>

		<h2 class="h3 mt-4">
				CUARTO.- ÁMBITO TEMPORAL
		</h2>
		<p>
			El ámbito temporal de esta promoción es desde el día 2 de noviembre de 2022 hasta 22 de noviembre de 2022
			ambos inclusive.
		</p>

		<h2 class="h3 mt-4">
				QUINTO.- COMUNICACIÓN
		</h2>
		<p>
			La Promoción se comunicará al público por la COMPAÑÍA indistintamente a través de, entre otras: página Web,
			prensa, redes sociales, campaña en el punto de venta, etc..
		</p>

		<h2 class="h3 mt-4">
				SEXTO.- PREMIOS
		</h2>
		<p>
			Los premios que se van a entregar a los ganadores de la presente Promoción son:
		</p>
		<ol type="number">
			<li>
				Setecientas cincuenta entradas dobles para poder asistir al evento de navidad que impartirán los chefs
				Pepe Rodríguez y Nacho Manzano en el Palacio de Exposiciones y Congresos de Oviedo el día 29 de
				noviembre a las 19:30 horas en exclusiva para los ganadores del premio.
			</li>
		</ol>

		<h2 class="h3 mt-4">
				SÉPTIMO.- MECÁNICA
		</h2>
		<p>
			Todas aquéllas personas que deseen participar en la Promoción deberán cumplir con los requisitos
			establecidos en los términos y condiciones de las presentes bases.
		</p>
		<p>
			La mecánica de la Promoción será la que se detalla a continuación:
		</p>
		<p>
			El premio descrito en el punto 1 de la cláusula sexta será otorgado de la siguiente forma:
		</p>
		<p>
			Será requisito que el participante, realice un consumo mínimo de 35 euros (impuestos aplicables incluidos).
		</p>
		<p>
			Dicha compra se podrá realizar en cualquiera de los establecimientos de la compañía o en la tienda on-line.
		</p>
		<p>
			En el ticket de compra que cumpla los requisitos aparecerá un código de 18 dígitos con el que podrá validar
			su participación en el site <a class="text-body text-decoration-underline"
				href="{{ root }}" target="_blank"
				rel="noopener">{{ root }}</a>
		</p>
		<p>
			En el caso de la compra on-line, en caso de cumplir con el requisito anteriormente mencionado, dicho código
			aparecerá en el mail de confirmación de pedido.
		</p>
		<p>
			La fecha máxima para realizar la validación del ticket en el site será el día 23 de noviembre de 2022.
		</p>
		<p>
			El participante deberá acceder antes del fin de este plazo en la web e introducir el código obtenido con la
			compra. En ese momento la web informará al participante si ha obtenido el premio. La obtención o no del
			premio vendrá determinado por un sistema aleatorio instalado en la web denominado “momento ganador”.
		</p>
		<p>
			Durante el proceso de validación se le pedirá a cada participante que cumplimente una serie de datos
			necesarios para identificarle y comunicarle, la obtención del premio.
		</p>
		<p>
			Todas aquellas personas que hayan realizado el registro en el site de forma correcta recibirán un email con
			la entrada doble para asistir al Gran Showcooking de Navidad impartido por Pepe Rodríguez y Nacho Manzano.
		</p>

		<h2 class="h3 mt-4">
				OCTAVO.- CONDICIONES DE CARÁCTER GENERAL
		</h2>
		<ul>
			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.1.- Legitimación
				</h3>
			</li>
			<ul>
				Podrán participar en la Promoción todos aquellos consumidores y usuarios, personas físicas, mayores de
				dieciocho años, con residencia legal en España.
			</ul>



			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.2.- Limitaciones a la participación
				</h3>
			</li>
			<ul>
				<li>
					La COMPAÑIA queda facultada para excluir a los Participantes que no cumplan con los requisitos de la
					presente Promoción o que, a juicio de la COMPAÑÍA, hubieran incumplido cualquier otra previsión de
					las presentes bases legales y/o que defrauden, alteren o inutilicen el buen funcionamiento y el
					transcurso normal y reglamentario de la Promoción.
				</li>
				<li>
					En particular, la COMPAÑÍA queda facultada a excluir de la Promoción al personal laboral, becarios,
					distribuidores, subcontratistas y demás agentes o representantes de la COMPAÑÍA, de las agencias
					encargadas del desarrollo de la Promoción o de cualesquiera otras entidades que hayan intervenido en
					el desarrollo de la Promoción. Tampoco podrán participar en la Promoción los familiares de las
					anteriores personas hasta el segundo grado de consanguinidad.
				</li>
				<li>
					En caso de que para participar en la Promoción, los Participantes deban crear o diseñar una obra
					(consistente en una imagen, sonido, vídeo o una obra de cualquier otra índole), la COMPAÑÍA se
					reserva el derecho de rechazar y eliminar de la Promoción cualquier obra que no se adapte a todos y
					cada uno de los requisitos señalados por la COMPAÑÍA o que la COMPAÑÍA considere que afecta o es
					susceptible de afectar la imagen y buena reputación de la COMPAÑÍA o de cualquiera de las marcas que
					integran la cartera de marcas la COMPAÑÍA o las compañías relacionadas con la COMPAÑÍA.
				</li>
				<li>
					Los datos facilitados por los Participantes, deberán ser veraces. Dado que los datos son esenciales
					para la participación en la presente Promoción, en el caso de que los mismos fueran falsos, la
					COMPAÑÍA podrá eliminar al Participante de la Promoción. En caso de que no haya sido detectada la
					falsedad de los datos y el Participante resulte ganador de un premio de la presente Promoción, el
					Participante quedará igualmente excluido de la Promoción.
				</li>
				<li>
					En los casos indicados anteriormente, los Participantes excluidos perderán su derecho al premio.
				</li>
			</ul>
			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.3.- Aceptación de las bases legales
				</h3>
			</li>

			<ul>
				<li>
					La simple participación implica la aceptación expresa de estas bases en su totalidad por lo que la
					manifestación, en el sentido de no aceptación de las mismas, implicará la exclusión del participante
					y, como consecuencia de la misma, quedará ALIMERKA liberada del cumplimiento de la obligación
					contraída con dicho participante.
				</li>
				<li>
					La COMPAÑIA se reserva el derecho a efectuar en cualquier momento los cambios que entienda oportunos
					en las presentes bases, incluyendo a título meramente enunciativo pero no limitativo, la anulación,
					repetición, ampliación, aplazamiento o modificación de las mismas. Dicha situación se pondrá
					convenientemente en conocimiento de los Participantes a través de los mismos medios en los que se
					haya comunicado la celebración de la Promoción, quedando eximida la COMPAÑIA de toda obligación o
					compensación económica respecto a los Participantes.
				</li>
				<li>
					Además, ALIMERKA se reserva el derecho de efectuar, en su caso, las aclaraciones o interpretaciones
					necesarias o de establecer las modificaciones que fueren necesarias en caso de contradicción o de
					imposibilidad de cumplimiento de las condiciones de participación o cláusulas aquí establecidas, a
					lo cual los participantes prestan su consentimiento por el mero hecho de participar.
				</li>
			</ul>

			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.4.- Del premio de la Promoción, su aceptación y cesión
				</h3>
			</li>
			<ul>
				<li>
					El Promotor se reserva el derecho de no otorgar el premio al participante que no tenga derecho a
					participar en el presente concurso de conformidad con lo previsto en las presentes bases.
				</li>

				<li>
					Una vez entregados a los Ganadores, los premios no podrán ser objeto de negocios jurídicos
					celebrados con fines comerciales o publicitarios.
				</li>
				<li>
					Las imágenes o vídeos en los que aparezcan publicitados los premios de la Promoción pueden reflejar
					bienes o servicios con características sensiblemente distintas a aquéllos que constituyan los
					premios a ser entregados, no derivándose de ello para la Compañía una obligación contractual o legal
					de entregar como premio exactamente el bien o servicio que aparezca reflejado en tales imágenes o
					vídeos.
				</li>

				<li>
					Al aceptar el premio, el ganador asume todos los gastos en los que incurra, salvo los que
					expresamente estén incluidos en la promoción en cuestión, así como la responsabilidad que se pueda
					derivar de la recogida y utilización de dicho premio. En tal sentido, el ganador será responsable de
					todos los impuestos devengados o gastos que no se mencionen específicamente en estas bases.
				</li>

				<li>
					Se entiende que quedan excluidos del premio los desplazamientos de los Ganadores y, en su caso, sus
					(incluyendo a título meramente enunciativo y sin limitación, aeropuertos, estaciones de tren,
					estaciones de autobuses, etc.), las tasas de los aeropuertos o cualquier otro tipo de estación, los
					gastos extras en los hoteles, los posibles suplementos por subidas de carburante, los gastos
					derivados de visados y cualesquiera otros gastos derivados de bienes o servicios que excedan de la
					definición del premio detallada en la Cláusula Sexta.
				</li>
				<li>
					En el supuesto de que estas Bases regulen un determinado período durante el que se pueda disfrutar
					de los premios, éste deberá ser respetado por los Ganadores, sin que quepa la posibilidad de
					modificarlo.
				</li>
				<li>
					Si la COMPAÑIA lo considera necesario, se podrá dejar algún premio desierto.
				</li>
			</ul>
			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.5.- Tratamiento de datos personales
				</h3>
			</li>
			<ul>
				<li>
					Los clientes que resulten ganadores de los premios indicados en la base sexta del presente documento y que cumplimenten debidamente el formulario habilitado para ello por la COMPAÑÍA en la web -www.35aniversarioalimerka.es/sorteo-, autorizan expresamente a ALIMERKA S.A.U., como responsable de tratamiento, a la recogida y tratamiento de sus datos personales, con la finalidad de gestionar la presente Promoción. 
				</li>
				<li>
					Los datos se conservarán por el tiempo necesario para la gestión de la presente Promoción y la atención de posibles reclamaciones o incidencias. La base legitimadora del tratamiento es el consentimiento.
				</li>
				<li>
					Los titulares de tales datos pueden ejercitar gratuitamente los derechos de acceso, rectificación, oposición, supresión y limitación del tratamiento sobre ellos, enviando comunicación escrita a ALIMERKA - Castiello, 145 - 33690 Lugo de Llanera (Asturias) o a lopd@alimerka.es.
				</li>
			</ul>
			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.6.- Derechos de propiedad intelectual
				</h3>
			</li>
			<ul>
				<li>
					Para el supuesto de que los Participantes aportaran contenidos protegidos por derechos de propiedad
					intelectual o industrial a través de los medios puestos a su disposición para ello, los
					Participantes ceden a la COMPAÑÍA, con carácter exclusivo y gratuito, para todo el territorio
					mundial y durante todo el periodo de vigencia de los mismos, la titularidad de todos los derechos de
					propiedad intelectual sobre las obras, que podrán ser explotadas por la COMPAÑÍA sin limitación de
					ningún tipo.
				</li>
				<li>
					Asimismo, los derechos cedidos sobre todas las obras de la Promoción (tanto si resultan ganadoras
					como si no) comprenden, sin carácter limitativo, el derecho de reproducción, de distribución, de
					comunicación pública y de transformación, tal y como aparecen definidos en la Ley de Propiedad
					Intelectual aprobada por Real Decreto Legislativo 1/1996, de 12 de abril. Los derechos cedidos
					podrán ser explotados por la COMPAÑÍA a través de cualquier formato o soporte y por cualquier
					sistema, procedimiento o modalidad, incluyendo, sin carácter limitativo, la explotación en
					televisión y/o mediante cualquier otro procedimiento audiovisual, la explotación online, la
					explotación en cualesquiera medios impresos (como cartel publicitario, en prensa, dossier de prensa,
					diarios, revistas, libros, publicidad), la explotación en cualquier tipo de soporte (incluyendo la
					explotación en DVDs, CDs y la explotación en vídeo), la exhibición en cualesquiera locales (abiertos
					al público o no) y/o en la vía pública, y el uso de las obras en cualquier actividad y/o medio
					publicitario o promocional (incluyendo, sin carácter limitativo, publicidad exterior). La COMPAÑÍA
					estará facultada para ceder y/o licenciar a terceros, con carácter de exclusiva o no, los derechos
					cedidos.
				</li>
				<li>
					Los Participantes garantizan expresamente, con total indemnidad para la COMPAÑÍA, la autoría y
					originalidad de cualesquiera de las obras remitidas como consecuencia de esta Promoción, y que las
					mismas no son copias ni modificación total o parcial de ninguna obra o marca protegible, ni que las
					mismas se hallan sometidas a ninguna otra promoción o concurso, resuelto o pendiente de resolución.
					En este sentido, los Participantes se comprometen a mantener indemne a la COMPAÑÍA frente a
					cualquier reclamación de terceros por daños y perjuicios que se deriven de cualesquiera de las obras
					remitidas o del uso que de éstas lleve a cabo la COMPAÑÍA en caso de que se infrinjan derechos de
					propiedad intelectual o industrial, de competencia desleal o suponga una infracción de la restante
					legislación que resulte de aplicación.
				</li>
			</ul>
			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.7.- Derechos de imagen
				</h3>
			</li>
			<ul>
				<li>
					Los Participantes autorizan de forma irrevocable y gratuita a la COMPAÑÍA a reproducir, utilizar y
					difundir su nombre, apellidos, dirección e imagen en cualquier actividad publicitaria y/o
					promocional para su tratamiento a través de cualquier sistema y soporte que permita fijar, insertar,
					difundir, reproducir, divulgar, comunicar y explotar públicamente el diseño obtenido conjuntamente
					con la imagen de la COMPAÑIA, todo ello sin ningún tipo de limitación temporal ni territorial y sin
					que de lugar a ningún tipo de remuneración o contraprestación por la COMPAÑIA.
				</li>
				<li>
					A estos efectos, las referencias que se hagan a “cualquier sistema y soporte” deben interpretarse de
					manera extensiva a cualquier medio que permita la fijación, reproducción, distribución y
					comunicación pública de la imagen y voz, del cedente (incluyendo con carácter meramente enunciativo
					y no limitativo, la prensa, la televisión, el cine, Internet, los dispositivos móviles, etc.) a
					utilizar el diseño de las imágenes y voz, en todo tipo de acciones publicitarias tales como
					presentaciones y eventos organizados por la COMPAÑIA.
				</li>
				<li>
					La autorización incluye todos los derechos de reproducción, transformación, distribución y
					comunicación pública de la grabación o imágenes captadas, sin limitación de tiempo ni de territorio.
				</li>
			</ul>
			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.8.- Fiscal
				</h3>
			</li>
			<ul>
				<li>
					A los premios de la presente Promoción les serán de aplicación las disposiciones de carácter fiscal
					de acuerdo con la legislación aplicable en cada momento.
				</li>
				<li>
					En concreto, de conformidad con el artículo 75 del Real Decreto 439/2007 y el artículo 101 de la Ley
					35/2006, ALIMERKA está obligada a practicar una retención o ingreso a cuenta, según corresponda, del
					19% sobre el valor de los premios que se entreguen como consecuencia de la participación en la
					presente Promoción cuando el valor de los mismos exceda de 300€.
				</li>
				<li>
					Con carácter adicional a la obligación de practicar la correspondiente retención o ingreso a cuenta,
					ALIMERKA se compromete a asumir el coste de la retención o ingreso a cuenta correspondiente al
					premio, que será considerado como mayor valor del premio a efectos fiscales. ALIMERKA realizará el
					oportuno ingreso en la Agencia Tributaria y extenderá a nombre del Ganador el correspondiente
					certificado, con el fin de que éste pueda cumplir sus obligaciones fiscales.
				</li>
				<li>
					Exceptuando las obligaciones de la Compañía de practicar las retenciones e ingresos a cuenta sobre
					el valor de los premios, todas las demás obligaciones fiscales que pudieran derivarse del premio
					serán por cuenta del Ganador, salvo que la legislación aplicable en cada momento disponga lo
					contrario.
				</li>
			</ul>
			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.9.- Exoneración de responsabilidad
				</h3>
			</li>
			<ul>
				<li>
					La COMPAÑÍA, sus proveedores, subcontratistas, colaboradores, agentes o distribuidores quedan
					exonerados de cualquier responsabilidad por daños ya sean físicos o de cualquier otra índole, que
					pueda sufrir el ganador de la Promoción por cualquier acción u omisión no imputable a la COMPAÑÍA,
					sus proveedores, contratistas, colaboradores, agentes o distribuidores, durante el disfrute del
					premio y con los límites establecidos en la normativa aplicable.
				</li>
				<li>
					La COMPAÑIA no se hace responsable de los daños y perjuicios derivados de la participación en esta
					Promoción. Consecuentemente, los Participantes de la presente Promoción, exoneran a la COMPAÑÍA, de
					la forma más amplia que en Derecho proceda, de cualquier tipo de responsabilidad, sanción,
					reclamación, demanda o causa civil, mercantil, penal, administrativa o de cualquier otra índole,
					incluyendo la indemnizaciones de cualquier naturaleza y/o índole, costas o cualesquier otro tipo de
					gastos (con expresa inclusión de los honorarios de Letrados y Procuradores) en los que pudiere
					resultar implicada la COMPAÑÍA con motivo y ocasión de la presente Promoción.
				</li>
				<li>
					La COMPAÑÍA, no se responsabiliza de los actos y comportamientos de los Participantes, ni de sus
					hipotéticas responsabilidades penales, civiles o de cualquier otra índole ni de las posibles
					pérdidas, deterioros, robos, retrasos o cualquier otra circunstancia imputable al ganador o a su
					acompañante en su caso, o a terceros (como a título de ejemplo, agencias de viaje, compañías aéreas,
					etc.,) que puedan afectar tanto a la participación como al disfrute de los regalos de la presente
					Promoción.
				</li>
				<li>
					La COMPAÑIA queda exonerada de toda responsabilidad derivada del mal funcionamiento de correos, de
					las redes de comunicación electrónicas que impidan el normal desarrollo de la Promoción por causas
					ajenas a la COMPAÑIA y especialmente por actos externos de mala fe. Tampoco será responsable la
					COMPAÑÍA por los problemas de transmisión o pérdida de datos no imputables a la misma.
				</li>
				<li>
					Resultará de aplicación a la presente Promoción en la medida en la que proceda las Condiciones
					Generales de Uso de la Web.
				</li>
				<li>
					La COMPAÑIA no se hace responsable de los servicios que presten terceras empresas con motivo y
					ocasión de la implementación de la presente Promoción.
				</li>
				<li>
					La COMPAÑIA, procederá a la anulación de los SMS, MMS, correos electrónicos u otras comunicaciones
					electrónicas, incompletas, erróneas, manipuladas o pertenecientes a otras promociones.
				</li>
				<li>
					En caso de la producción de cualquier fallo técnico u operativo que dificulte el normal desarrollo
					de la promoción y, en particular, que haga imposible la determinación del Ganador, la COMPAÑÍA
					pondrá fin a la Promoción, renunciando los Participantes a interponer cualquier reclamación, demanda
					o causa civil, mercantil, penal, administrativa o de cualquier otra índole contra la COMPAÑÍA,
					persiguiendo cualquier responsabilidad, sanción, incluyendo las indemnizaciones de cualquier
					naturaleza y/o índole, costas o cualesquier otro tipo de resarcimiento.
				</li>
			</ul>
			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.10.- Declaración responsable
				</h3>
			</li>
			<ul>
				<li>
					La COMPAÑIA, se compromete a llevar a cabo la presente Promoción conforme con los principios de
					legalidad, veracidad y autenticidad recogidos en nuestro ordenamiento jurídico, prestando especial
					atención a la normativa sobre protección de menores.
				</li>
				<li>
					La COMPAÑIA recomienda el consumo responsable de las bebidas alcohólicas.
				</li>
			</ul>
			<li>
				<h3 class="h4 mt-3 text-uppercase">
					8.11.- Depósito de bases y su publicación
				</h3>
			</li>
			<ul>
				<li>
					Las presentes bases serán depositadas ante el Notario de Madrid, Dña. María Heredero Caballería.
					Calle Diego de león, 69.
				</li>
			</ul>
		</ul>

		<h2 class="h3 mt-4">
				NOVENO.- LEY Y JURISDICCIÓN aplicable
		</h2>
		<ul>
			<li>
				Las Bases de la Promoción se rigen por la ley española.
			</li>
			<li>
				La COMPAÑÍA y los Participantes en la Promoción, se someten a la jurisdicción de los Juzgados y
				Tribunales de la ciudad de Madrid, con renuncia expresa a cualquier otro foro que pudiera
				corresponderles.
			</li>
		</ul>
	</div>
</section>