{% if show_popup_tech %}
	<div id="banner" class="panel otFloatingRoundedCorner vertical-align-content" tabindex="0">
		<div class="ot-container" role="alertdialog">
			<div class="ot-row">
				<div id="group-container" class="ot-twelve ot-columns">
					<div class="bg-image-sanvalentin bg-cover bg-center text-end w-100 p-2" style="height:300px;">
						<button type="button" class="btn-close btn-close-white mb-2 close-popup" aria-label="Cerrar"></button>
						<h1 class="text-uppercase text-white">
							Deseo un feliz

							<span class="d-block gotham-bold">
								San Valentín
							</span>
						</h1>
					</div>
					<div class="bg-header bg-cover bg-top p-2">
						<div class="gotham-bold h5 text-white text-center">
							Sorteamos 35 experiencias
							<span class="d-block">
								"Escapadas con historia"
							</span>
						</div>
						<p class="small text-center text-white" style="font-size: 0.8rem; line-height: 100%">
							Promoción válida del 7 al 14 de febrero de 2022. Por compras superiores a 30€ sorteo aleatorio por linea de caja o tienda online de 35 noches de hotel para dos personas con desayuno incluido.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
