{% if show_popup_fathers_day %}
	<div id="banner" class="panel otFloatingRoundedCorner vertical-align-content" tabindex="0">
		<div class="ot-container" role="alertdialog">
			<div class="ot-row">
				<div id="group-container" class="ot-twelve ot-columns">
					<div class="bg-image-fathers bg-cover bg-start text-end w-100 p-2" style="height:300px;">
						<div class="text-end">
							<button type="button" class="btn-close  mb-2 close-popup" aria-label="Cerrar"></button>
						</div>
						<div class="d-flex h-100 px-3 py-4 align-items-end text-shadow">
							<h2 class="text-uppercase text-white text-shadow">
								<span class="d-block gotham-bold">
									Deseo parar
								</span>
								<span class="d-block gotham-bold">
									el tiempo
								</span>
								cuando estemos juntos
							</h2>
						</div>
					</div>
					<div class="bg-header bg-cover bg-top p-2 text-shadow-orange">
						<div class="gotham-bold h5 text-white text-center ">
							Sorteamos 35 relojes
							<span class="d-block">
								Garmin Forerunner 45S
							</span>
						</div>
						<p class="small text-center text-white" style="font-size: 0.8rem; line-height: 100%">
						Participa con tus compras superiores a 30€ del 14 al 19 de marzo de 2022.
					</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
