.text-0 {
  font-size: 0rem !important;
}
.text-1 {
  font-size: 0.25rem !important;
}
.text-2 {
  font-size: 0.5rem !important;
}
.text-3 {
  font-size: 0.75rem !important;
}
.text-4 {
  font-size: 1rem !important;
}
@media (min-width: 576px) {
  .text-sm-0 {
    font-size: 0rem !important;
  }
}
@media (min-width: 576px) {
  .text-sm-1 {
    font-size: 0.25rem !important;
  }
}
@media (min-width: 576px) {
  .text-sm-2 {
    font-size: 0.5rem !important;
  }
}
@media (min-width: 576px) {
  .text-sm-3 {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 576px) {
  .text-sm-4 {
    font-size: 1rem !important;
  }
}
@media (min-width: 768px) {
  .text-md-0 {
    font-size: 0rem !important;
  }
}
@media (min-width: 768px) {
  .text-md-1 {
    font-size: 0.25rem !important;
  }
}
@media (min-width: 768px) {
  .text-md-2 {
    font-size: 0.5rem !important;
  }
}
@media (min-width: 768px) {
  .text-md-3 {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 768px) {
  .text-md-4 {
    font-size: 1rem !important;
  }
}
@media (min-width: 992px) {
  .text-lg-0 {
    font-size: 0rem !important;
  }
}
@media (min-width: 992px) {
  .text-lg-1 {
    font-size: 0.25rem !important;
  }
}
@media (min-width: 992px) {
  .text-lg-2 {
    font-size: 0.5rem !important;
  }
}
@media (min-width: 992px) {
  .text-lg-3 {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 992px) {
  .text-lg-4 {
    font-size: 1rem !important;
  }
}
@media (min-width: 1200px) {
  .text-xl-0 {
    font-size: 0rem !important;
  }
}
@media (min-width: 1200px) {
  .text-xl-1 {
    font-size: 0.25rem !important;
  }
}
@media (min-width: 1200px) {
  .text-xl-2 {
    font-size: 0.5rem !important;
  }
}
@media (min-width: 1200px) {
  .text-xl-3 {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 1200px) {
  .text-xl-4 {
    font-size: 1rem !important;
  }
}
@media (min-width: 1500px) {
  .text-x2l-0 {
    font-size: 0rem !important;
  }
}
@media (min-width: 1500px) {
  .text-x2l-1 {
    font-size: 0.25rem !important;
  }
}
@media (min-width: 1500px) {
  .text-x2l-2 {
    font-size: 0.5rem !important;
  }
}
@media (min-width: 1500px) {
  .text-x2l-3 {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 1500px) {
  .text-x2l-4 {
    font-size: 1rem !important;
  }
}
.w-0 {
  width: 0% !important;
}
.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
@media (min-width: 576px) {
  .w-sm-0 {
    width: 0% !important;
  }
}
@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }
}
@media (min-width: 576px) {
  .w-sm-50 {
    width: 50% !important;
  }
}
@media (min-width: 576px) {
  .w-sm-75 {
    width: 75% !important;
  }
}
@media (min-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
@media (min-width: 768px) {
  .w-md-0 {
    width: 0% !important;
  }
}
@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
}
@media (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}
@media (min-width: 768px) {
  .w-md-75 {
    width: 75% !important;
  }
}
@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  .w-lg-0 {
    width: 0% !important;
  }
}
@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }
}
@media (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important;
  }
}
@media (min-width: 992px) {
  .w-lg-75 {
    width: 75% !important;
  }
}
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-0 {
    width: 0% !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-50 {
    width: 50% !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-75 {
    width: 75% !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100% !important;
  }
}
@media (min-width: 1500px) {
  .w-x2l-0 {
    width: 0% !important;
  }
}
@media (min-width: 1500px) {
  .w-x2l-25 {
    width: 25% !important;
  }
}
@media (min-width: 1500px) {
  .w-x2l-50 {
    width: 50% !important;
  }
}
@media (min-width: 1500px) {
  .w-x2l-75 {
    width: 75% !important;
  }
}
@media (min-width: 1500px) {
  .w-x2l-100 {
    width: 100% !important;
  }
}
.h-0 {
  height: 0% !important;
}
.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-100 {
  height: 100% !important;
}
@media (min-width: 576px) {
  .h-sm-0 {
    height: 0% !important;
  }
}
@media (min-width: 576px) {
  .h-sm-25 {
    height: 25% !important;
  }
}
@media (min-width: 576px) {
  .h-sm-50 {
    height: 50% !important;
  }
}
@media (min-width: 576px) {
  .h-sm-75 {
    height: 75% !important;
  }
}
@media (min-width: 576px) {
  .h-sm-100 {
    height: 100% !important;
  }
}
@media (min-width: 768px) {
  .h-md-0 {
    height: 0% !important;
  }
}
@media (min-width: 768px) {
  .h-md-25 {
    height: 25% !important;
  }
}
@media (min-width: 768px) {
  .h-md-50 {
    height: 50% !important;
  }
}
@media (min-width: 768px) {
  .h-md-75 {
    height: 75% !important;
  }
}
@media (min-width: 768px) {
  .h-md-100 {
    height: 100% !important;
  }
}
@media (min-width: 992px) {
  .h-lg-0 {
    height: 0% !important;
  }
}
@media (min-width: 992px) {
  .h-lg-25 {
    height: 25% !important;
  }
}
@media (min-width: 992px) {
  .h-lg-50 {
    height: 50% !important;
  }
}
@media (min-width: 992px) {
  .h-lg-75 {
    height: 75% !important;
  }
}
@media (min-width: 992px) {
  .h-lg-100 {
    height: 100% !important;
  }
}
@media (min-width: 1200px) {
  .h-xl-0 {
    height: 0% !important;
  }
}
@media (min-width: 1200px) {
  .h-xl-25 {
    height: 25% !important;
  }
}
@media (min-width: 1200px) {
  .h-xl-50 {
    height: 50% !important;
  }
}
@media (min-width: 1200px) {
  .h-xl-75 {
    height: 75% !important;
  }
}
@media (min-width: 1200px) {
  .h-xl-100 {
    height: 100% !important;
  }
}
@media (min-width: 1500px) {
  .h-x2l-0 {
    height: 0% !important;
  }
}
@media (min-width: 1500px) {
  .h-x2l-25 {
    height: 25% !important;
  }
}
@media (min-width: 1500px) {
  .h-x2l-50 {
    height: 50% !important;
  }
}
@media (min-width: 1500px) {
  .h-x2l-75 {
    height: 75% !important;
  }
}
@media (min-width: 1500px) {
  .h-x2l-100 {
    height: 100% !important;
  }
}
.border-2 {
  border-width: 2px !important;
}
.border-top-2 {
  border-top-width: 2px !important;
}
.border-left-2 {
  border-left-width: 2px !important;
}
.border-right-2 {
  border-right-width: 2px !important;
}
.border-bottom-2 {
  border-bottom-width: 2px !important;
}
.border-3 {
  border-width: 3px !important;
}
.border-top-3 {
  border-top-width: 3px !important;
}
.border-left-3 {
  border-left-width: 3px !important;
}
.border-right-3 {
  border-right-width: 3px !important;
}
.border-bottom-3 {
  border-bottom-width: 3px !important;
}
.border-4 {
  border-width: 4px !important;
}
.border-top-4 {
  border-top-width: 4px !important;
}
.border-left-4 {
  border-left-width: 4px !important;
}
.border-right-4 {
  border-right-width: 4px !important;
}
.border-bottom-4 {
  border-bottom-width: 4px !important;
}
.border-5 {
  border-width: 5px !important;
}
.border-top-5 {
  border-top-width: 5px !important;
}
.border-left-5 {
  border-left-width: 5px !important;
}
.border-right-5 {
  border-right-width: 5px !important;
}
.border-bottom-5 {
  border-bottom-width: 5px !important;
}
.btn-group-xl > .btn, .btn-xl {
  padding: 0.75rem 1.5rem;
  font-size: 1.875rem;
  line-height: 1.5;
  border-radius: 0.45rem;
}
.btn-group-x2l > .btn, .btn-x2l {
  padding: 1rem 2rem;
  font-size: 2.5rem;
  line-height: 1.5;
  border-radius: 0.6rem;
}
.btn-padding-lg {
  padding: 0.5rem 1rem !important;
}
.btn-padding-xl {
  padding: 0.75rem 1.5rem !important;
}
.btn-padding-x2l {
  padding: 1rem 2rem !important;
}
.text-gotham, h1, h2, h3, .h1, .h2, .h3 {
  font-family: "Gotham", sans-serif;
}
.text-gothambook {
  font-family: "GothamBook", sans-serif;
}
.text-gothambold, .gotham-bold {
  font-family: "GothamBold", sans-serif;
}
.text-gothamblack, .gotham-black {
  font-family: "GothamBlack", sans-serif;
}
.text-poppins, body, h4, h5, h6, .h4, .h5, .h6 {
  font-family: "Poppins", sans-serif;
}
.text-poppinssemibold {
  font-family: "PoppinsSemibold", sans-serif;
}
.text-poppinsbold, .poppins-bold {
  font-family: "PoppinsBold", sans-serif;
}
.bg-cover {
  background-size: cover !important;
}
.bg-top {
  background-position: top !important;
}
.bg-bottom {
  background-position: bottom !important;
}
.bg-left {
  background-position: left !important;
}
.bg-right {
  background-position: right !important;
}
.bg-image-main {
  background-image: url(../img/bg-main.jpg) !important;
  background-repeat: no-repeat !important;
}
.bg-image-services {
  background-image: url(../img/bg-services.jpg) !important;
  background-repeat: no-repeat !important;
}
.bg-image-mission {
  background-image: url(../img/bg-mission.jpg) !important;
  background-repeat: no-repeat !important;
}
.bg-image-contact {
  background-image: url(../img/bg-contact.jpg) !important;
  background-repeat: no-repeat !important;
}
.bg-image-navidad {
  background-image: url(../img/bg-navidad.jpg) !important;
  background-repeat: no-repeat !important;
}
.bg-image-pescaderia {
  background-image: url(../img/bg-pescaderia.jpg) !important;
  background-repeat: no-repeat !important;
}
.bg-image-chef {
  background-image: url(../img/bg-chef.jpg) !important;
  background-repeat: no-repeat !important;
}
.bg-yellow {
  background-color: #FCC01F !important;
}
.bg-yellow.bg-or, .bg-yellow.bg-ol {
  position: relative;
}
.bg-yellow.bg-or:after, .bg-yellow.bg-ol:after {
  content: " ";
  background-color: #FCC01F !important;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}
.bg-yellow.bg-ol:after {
  left: -100%;
}
.bg-green {
  background-color: #78874B !important;
}
.bg-green.bg-or, .bg-green.bg-ol {
  position: relative;
}
.bg-green.bg-or:after, .bg-green.bg-ol:after {
  content: " ";
  background-color: #78874B !important;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}
.bg-green.bg-ol:after {
  left: -100%;
}
.bg-light-grey {
  background-color: #EDEDED !important;
}
.bg-light-grey.bg-or, .bg-light-grey.bg-ol {
  position: relative;
}
.bg-light-grey.bg-or:after, .bg-light-grey.bg-ol:after {
  content: " ";
  background-color: #EDEDED !important;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}
.bg-light-grey.bg-ol:after {
  left: -100%;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-white.bg-or, .bg-white.bg-ol {
  position: relative;
}
.bg-white.bg-or:after, .bg-white.bg-ol:after {
  content: " ";
  background-color: #ffffff !important;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}
.bg-white.bg-ol:after {
  left: -100%;
}
.bg-black {
  background-color: #000000 !important;
}
.bg-black.bg-or, .bg-black.bg-ol {
  position: relative;
}
.bg-black.bg-or:after, .bg-black.bg-ol:after {
  content: " ";
  background-color: #000000 !important;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}
.bg-black.bg-ol:after {
  left: -100%;
}
.bg-black-opacity {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.bg-black-opacity.bg-or, .bg-black-opacity.bg-ol {
  position: relative;
}
.bg-black-opacity.bg-or:after, .bg-black-opacity.bg-ol:after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.5) !important;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}
.bg-black-opacity.bg-ol:after {
  left: -100%;
}
.border-yellow {
  border-color: #FCC01F !important;
}
.border-green {
  border-color: #78874B !important;
}
.border-light-grey {
  border-color: #EDEDED !important;
}
.border-white {
  border-color: #ffffff !important;
}
.border-black {
  border-color: #000000 !important;
}
.text-yellow {
  color: #FCC01F !important;
}
.text-green {
  color: #78874B !important;
}
.text-light-grey {
  color: #EDEDED !important;
}
.text-black {
  color: #000000 !important;
}
.btn-yellow {
  background-color: #FCC01F;
}
.btn-yellow, .btn-yellow:visited, .btn-yellow:active, .btn-yellow:focus {
  color: #ffffff !important;
}
.btn-yellow:hover {
  color: #000000 !important;
}
.btn-yellow.btn-shadow {
  box-shadow: -15px -15px 0 rgba(252, 192, 31, 0.4);
}
.btn-green {
  background-color: #78874B;
}
.btn-green, .btn-green:visited, .btn-green:active, .btn-green:focus {
  color: #ffffff !important;
}
.btn-green:hover {
  color: #000000 !important;
}
.btn-green.btn-shadow {
  box-shadow: 15px 15px 0 rgba(120, 135, 75, 0.4);
}
.btn-yellow {
  background-color: #FCC01F;
}
.btn-yellow, .btn-yellow:visited, .btn-yellow:active, .btn-yellow:focus {
  color: #000000 !important;
}
.btn-yellow:hover {
  color: #ffffff !important;
}
.btn-yellow.btn-shadow {
  box-shadow: -15px -15px 0 rgba(252, 192, 31, 0.4);
}
.btn-white {
  background-color: #ffffff;
}
.btn-white, .btn-white:visited, .btn-white:active, .btn-white:focus {
  color: #000000 !important;
}
.btn-white:hover {
  color: #78874B !important;
}
.btn-white.btn-shadow {
  box-shadow: 15px 15px 0 rgba(255, 255, 255, 0.4);
}
.btn-black {
  background-color: #000000;
}
.btn-black, .btn-black:visited, .btn-black:active, .btn-black:focus {
  color: #ffffff !important;
}
.btn-black:hover {
  color: #78874B !important;
}
.btn-black.btn-shadow {
  box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.4);
}
.semicircle-lg {
  height: 1rem;
  width: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.ico-xl {
  height: 8rem;
}
.ico-lg {
  height: 5rem;
}
.ico {
  height: 3rem;
}
.ico-md {
  height: 2rem;
}
.ico-sm {
  height: 1rem;
}
.box-shadowtl {
  box-shadow: -15px -15px 0 rgba(0, 0, 0, 0.3);
}
.box-shadowtr {
  box-shadow: 15px -15px 0 rgba(0, 0, 0, 0.3);
}
.box-shadowbl {
  box-shadow: -15px 15px 0 rgba(0, 0, 0, 0.3);
}
.box-shadowbr {
  box-shadow: 15px 15px 0 rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .display-md-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
.btn {
  border-radius: 0rem;
}
.form-control {
  border-radius: 0;
  border: none;
}
[data-cookie-hint] {
  position: relative;
  cursor: pointer;
  pointer-events: none;
}
[data-cookie-hint] > * {
  filter: blur(5px);
}
[data-cookie-hint]::after {
  content: "No disponible sin aceptar el uso de cookies";
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  text-align: center;
  text-shadow: 1px 1px black;
  color: white;
  font-weight: bold;
}
.image-placeholder {
  display: inline-block;
  height: 200px;
  width: 100%;
  background: #ccc;
}
.image-offboxt {
  margin-top: -3rem;
}
.round-end {
  border-top-right-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem;
}
img {
  height: auto;
}
.img-containh {
  display: block;
  height: 100%;
  min-height: 10rem;
  width: auto !important;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media (min-width: 576px) {
  .img-sm-containh {
    display: block;
    height: 100%;
    min-height: 10rem;
    width: auto !important;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .img-md-containh {
    display: block;
    height: 100%;
    min-height: 10rem;
    width: auto !important;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .img-lg-containh {
    display: block;
    height: 100%;
    min-height: 10rem;
    width: auto !important;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .img-xl-containh {
    display: block;
    height: 100%;
    min-height: 10rem;
    width: auto !important;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
@media (min-width: 1500px) {
  .img-x2l-containh {
    display: block;
    height: 100%;
    min-height: 10rem;
    width: auto !important;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
.text-underline {
  text-decoration: underline;
}
@media (min-width: 576px) {
  .text-sm-underline {
    text-decoration: underline;
  }
}
@media (min-width: 768px) {
  .text-md-underline {
    text-decoration: underline;
  }
}
@media (min-width: 992px) {
  .text-lg-underline {
    text-decoration: underline;
  }
}
@media (min-width: 1200px) {
  .text-xl-underline {
    text-decoration: underline;
  }
}
@media (min-width: 1500px) {
  .text-x2l-underline {
    text-decoration: underline;
  }
}
.degrada {
  background: -webkit-gradient(left top, right top, text-stop(0%, #5abafa), text-stop(100%, #558bff));
  /*
    background: #5abafa;
    background: -moz-linear-gradient(left, #5abafa 0%, #558bff 100%);
    background: -webkit-linear-gradient(left, #5abafa 0%, #558bff 100%);
    background: -o-linear-gradient(left, #5abafa 0%, #558bff 100%);
    background: -ms-linear-gradient(left, #5abafa 0%, #558bff 100%);
    background: linear-gradient(to right, #5abafa 0%, #558bff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5abafa', endColorstr='#558bff', GradientType=1 );
    */
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsSemibold";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsBold";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GothamMedium";
  font-display: swap;
  src: url("../fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamBold";
  font-display: swap;
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GothamBlack";
  font-display: swap;
  src: url("../fonts/Gotham-Black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
header {
  font-size: 1.2em;
}
html, body {
  font-size: 16px;
  font-weight: 400;
}
html strong, body strong {
  font-weight: 700;
}
body.with-fixed-navbar {
  padding-top: 3.81rem;
}
body.with-fixed-navbar .scroll-anchor {
  position: relative;
  top: -3.81rem;
}
a:link, a:visited, a:active {
  text-decoration: none;
}
h1, h2, h3, .h1, .h2, .h3 {
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1px;
}
h1 strong, h2 strong, h3 strong, .h1 strong, .h2 strong, .h3 strong {
  font-weight: 600;
}
h4, h5, h6, .h4, .h5, .h6 {
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1px;
}
h4 strong, h5 strong, h6 strong, .h4 strong, .h5 strong, .h6 strong {
  font-weight: 600;
}
.gotham-bold {
  font-weight: 600;
}
.gotham-black {
  font-weight: 700;
}
.poppins-bold {
  font-weight: 600;
}
.text-big {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .text-big {
    font-size: 1.3rem;
    line-height: 110%;
  }
}
.navbar {
  min-height: 3.81rem;
}
.navbar-brand img {
  height: 3.8rem;
}
.text-shadow {
  text-shadow: 0px 0px 5px black, 0px 0px 7px black;
}
.text-shadow-orange {
  text-shadow: 0px 0px 10px rgba(235, 125, 0, 0.9);
}
.text-shine {
  text-shadow: 0px 0px 5px white, 0px 0px 7px white;
}
.box-shadow {
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.img-shadow {
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.1));
}
.line-height-low {
  line-height: 120%;
}
.text-small {
  font-size: 14px;
}
.text-legal {
  font-size: 12px;
}
@media (min-width: 768px) {
  section.full-height {
    margin-top: -5.3rem;
    padding-top: 5.3rem;
    margin-bottom: -18.85rem;
    padding-bottom: 18.85rem;
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  section.full-height {
    margin-bottom: -17.3rem;
    padding-bottom: 17.3rem;
  }
}
@media (min-width: 1200px) {
  section.full-height {
    margin-bottom: -15.8rem;
    padding-bottom: 15.8rem;
  }
}
@media (min-width: 1350px) {
  .wrapped-container {
    max-width: 1206px;
    position: relative;
    left: 33px;
  }
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.form-group {
  margin-bottom: 1rem;
}
@media (max-width: 1450px) {
  .smallish {
    font-size: 0.8rem;
  }
}
@media (max-width: 900px) {
  .smallish {
    font-size: 0.65rem;
  }
}
@media (max-width: 767px) {
  .smallish {
    font-size: 1.2rem;
  }
}
.smaller {
  font-size: 0.6rem;
}
.main-gradient {
  background: -webkit-gradient(left top, right top, text-stop(0%, #f8981c), text-stop(50%, #ffcf00), text-stop(100%, #ffe94f));
  background: #ffcf00;
  background: -moz-linear-gradient(left, #f8981c 0%, #ffcf00 50%, #ffe94f 100%);
  background: -webkit-linear-gradient(left, #f8981c 0%, #ffcf00 50%, #ffe94f 100%);
  background: -o-linear-gradient(left, #f8981c 0%, #ffcf00 50%, #ffe94f 100%);
  background: -ms-linear-gradient(left, #f8981c 0%, #ffcf00 50%, #ffe94f 100%);
  background: linear-gradient(to right, #f8981c 0%, #ffcf00 50%, #ffe94f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F8981C", endColorstr="#FFCF00", GradientType=1);
}
.mh-650 {
  min-height: 40rem;
}
.header-title {
  font-size: calc(1rem + 0.9vw);
}
@media (min-width: 576px) {
  .header-title {
    font-size: calc(1.325rem + 0.9vw);
  }
}
.btn-yellow {
  transition: all 0.2s ease-in-out;
}
.btn-yellow:hover {
  color: #000 !important;
  box-shadow: inset 0 0 0 25px white;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1;
  /* Firefox */
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
}
.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
}
.bg-black-opacity {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
