<table align="center" width="100%" border="0" bgcolor="#fff"
	style="max-width: 700px; min-width: 700px; width: 700px; border: none; border-collapse: collapse;" cellpadding="0"
	cellspacing="0">
	<tr>
		<td align="center" style="padding: 0; margin: 0;" height="30"></td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;">
			<p
				style="font-size: 20px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: center; margin-top: 0; margin-bottom: 0;">
				Hola
				{{ participant.Participant.name }}.
			</p>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;" height="30"></td>
	</tr>
	<tr>
		<td align="center" style="padding-right: 15px; padding-left: 15px; margin: 0;">
			<p
				style="font-size: 20px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: center; margin-top: 0; margin-bottom: 0;">
				¡Hay momentos que merece la pena recordar! Y el
				<strong
					style="font-size: 20px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; margin-bottom: 0px;">
					Gran Showcooking de Navidad de Alimerka</strong>
				es uno de ellos.
			</p>
			<br>
			<p
				style="font-size: 20px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: center; margin-top: 0; margin-bottom: 0;">
				Por eso, te enviamos un enlace con la grabación completa, para que puedas revivirlo y disfrutar de cada
				detalle siempre que quieras. Si te perdiste algún truco, ¡es el momento de rescatarlo!
			</p>
			<br>
			<p
				style="font-size: 20px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: center; margin-top: 0; margin-bottom: 0;">
				Con esta gran fiesta,
				<strong
					style="font-size: 20px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; margin-bottom: 0px;">
					Alimerka</strong>
				puso el broche de oro a su
				<strong
					style="font-size: 20px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; margin-bottom: 0px;">
					35 aniversario.</strong>
			</p>
			<br>
			<p
				style="font-size: 20px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: center; margin-top: 0; margin-bottom: 0;">
				<strong
					style="font-size: 20px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; margin-bottom: 0px;">
					¡Gracias por celebrarlo con nosotros!</strong>
			</p>
			<br>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;">
			<img src="{{ root }}static/img/email/pepe-nacho-firma.jpg" width="650"
				style="max-width: 100%; height: auto; border: 0;">
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;" height="30"></td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;">
			<table align="center" width="100%" border="0" bgcolor="#fff"
				style="max-width: 700px; min-width: 700px; width: 700px; border: none; border-collapse: collapse;"
				cellpadding="0" cellspacing="0">
				<tr>
					<td align="center" style="padding: 0; margin: 0;" width="75"></td>
					<td align="center" style="padding: 0; margin: 0;">
						<p
							style="font-size: 14px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: left; margin-top: 0px; margin-bottom: 0px;">
							<strong
								style="font-size: 14px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; margin-bottom: 0px;">
								Haz click en la imagen para ver el vídeo del evento.
							</strong>
						</p>
					</td>
					<td align="center" style="padding: 0; margin: 0;" width="75"></td>
				</tr>
				<tr>
					<td align="center" style="padding: 0; margin: 0;" width="75" height="10"></td>
					<td align="center" style="padding: 0; margin: 0;" width="550"></td>
					<td align="center" style="padding: 0; margin: 0;" width="75" height="10"></td>
				</tr>
				<tr>
					<td align="center" style="padding: 0; margin: 0;" width="75"></td>
					<td align="center" style="padding: 0; margin: 0;">
						<a href="{{ participant_url('https://35aniversarioalimerka.es/sorteo/static/ALIMERKA_SHOWCOOKING_PepeNacho.mp4', participant.Participant.id) }}" style="text-decoration: none; border: none;">
							<img src="{{ root }}static/img/email/pepe-nacho-video.jpg" width="550"
								style="max-width: 100%; height: auto; border: 0;">
						</a>
					</td>
					<td align="center" style="padding: 0; margin: 0;" width="75"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;" height="30"></td>
	</tr>
</table>