<table align="center" width="100%" border="0" bgcolor="#fff"
	style="max-width: 700px; min-width: 700px; width: 700px; border: none; border-collapse: collapse;" cellpadding="0"
	cellspacing="0">
	<tr>
		<td align="center" style="padding: 0; margin: 0;">
			<table align="center" width="100%" border="0"
				style="border-collapse: collapse; max-width: 700px; min-width: 700px; width: 700px; padding: 0; margin: 0; background: white;"
				cellpadding="0" cellspacing="0" bgcolor="#000" valign="top">
				<tr>
					<td width="50%" align="left" style="padding: 0; margin: 0; font-size: 2px; line-height: 2px;"
						valign="top"><img align="top" src="{{ root }}static/img/email/pepe-nacho.jpg" width="100%"
							style="width: 100%; height: auto; border: 0; margin: 0; padding: 0; float: left;"></td>
					<td width="50%" align="left" style="padding-right: 20px">
						<p
							style="font-size: 15px; font-family: sans-serif; color: white; font-weight: normal; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 0;">
							.
						</p>
						<p
							style="font-size: 35px; font-family: sans-serif; color: black; font-weight: bolder; text-decoration: none; text-transform: uppercase; text-align: right; margin-top: 0; margin-bottom: 10px; padding-bottom: 0;">
							¡No queda nada!
						</p>
						<p
							style="font-size: 15px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 10;">
							<strong
								style="font-size: 15px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; margin-top: 0; margin-bottom: 0;">
								Mañana martes tienes una cita con
							</strong>
							<br>
							<strong
								style="font-size: 18px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0;">
								<mark style="background-color: #FFD100 !important;">Pepe Rodríguez</mark>
							</strong>
							y
							<strong
								style="font-size: 18px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0;">
								<mark style="background-color: #FFD100 !important;">Nacho Manzano</mark>
							</strong>
							<br>
							en el
							<strong
								style="font-size: 25px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; text-transform: uppercase;">
								<mark style="background-color: #FFD100 !important;">Gran</mark>
							</strong>
							<br>
							<strong
								style="font-size: 25px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; text-transform: uppercase;">
								<mark style="background-color: #FFD100 !important;">Showcooking</mark>
							</strong>
							<br>
							<strong
								style="font-size: 25px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; text-transform: uppercase;">
								<mark style="background-color: #FFD100 !important;">de Navidad</mark>
							</strong>
						</p>
						<p
							style="font-size: 15px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 10;">
							Apertura de puertas: 19:00 hrs.
							<br>
							Inicio del evento: 19:30 hrs.
						</p>
						<p
							style="font-size: 13px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 10; letter-spacing: -.5px;">
							Entradas no numeradas.
							<br>
							Recomendamos ir 30 minutos antes del inicio del evento.
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;">
			<table align="center" width="100%" border="0"
				style="border-collapse: collapse; max-width: 700px; min-width: 700px; width: 700px; padding: 0; margin: 0; background: white;"
				cellpadding="0" cellspacing="0" bgcolor="#000" valign="top">
				<tr>
					<td width="33%" align="left" style="padding-right: 20px; padding-left: 20px;">
						<p
							style="font-size: 13px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 10; letter-spacing: -.5px;">
							Presenta tu código QR en la entrada del Palacio de Exposiciones y Congresos de Oviedo.
						</p>
						<p
							style="font-size: 13px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 10; letter-spacing: -.5px;">
							¡Hasta mañana!
						</p>
					</td>
					<td width="33%" style="padding: 0; margin: 0; font-size: 2px; line-height: 2px;" valign="top">
						<img align="top" src="{{ root }}content/qr/{{ participant.Participant.barcode }}.jpg" width="100%" style="width: 100%; height: auto; border: 0; margin: 0; padding: 0;">
						<p style="font-size: 20px; font-family: sans-serif; color: black; font-weight: bolder; text-decoration: none; text-align: center; margin-top: 5px; margin-bottom: 0;">
							{{ participant.Participant.barcode }}
						</p>
					</td>
					<td width="33%" style="padding: 0; margin: 0;" valign="top">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;">
			<p
				style="font-size: 13px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: center; margin-top: 30px; margin-bottom: 20;">
				Para cualquier duda puedes escribirnos a
				<strong
					class="font-size: 15px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; text-align: right; margin-top: 20; margin-bottom: 0;">
					<a href="mailto:35aniversario@alimerka.es">
						35aniversario@alimerka.es
					</a>
				</strong>
			</p>
		</td>
	</tr>
</table>