<p>{{ i18n__('Hello there.') }}</p>
<p>{{ i18n__('We have received a restore password request for your account. To proceed, click on the following link %s .')|format('<a href="' ~ router_url({controller: 'Users', action: 'reset', 0: email, 1: reset_password_token}) ~ '">' ~ i18n__('Restore') ~ '</a>')|raw }}</p>
<p>{{ i18n__('If you did not request this, you can ignore this message.') }}</p>
<p>{{ i18n__('Thank you.') }}</p>
