<div class="bg-image-chef bg-cover bg-top pt-3">
	<div class="container">
		<div class="row text-black text-shine align-items-center">
			<div class="col-12 col-lg-6 text-center my-4">
				<h1 class="h3 gotham-black mb-4">
					¡Cocina con estrellas!
					<span class="d-inline-block">
						Nacho Manzano y Pepe Rodríguez
					</span>
				</h1>
				<div class="text-black text-shine text-big">
					<p>
						Dos grandes chefs. Nacho Manzano es uno de nuestros mejores embajadores en los fogones, y
						Pepe Rodríguez tampoco necesita presentación. Los dos cocineros, entre estrellas y soles,
						hacen una galaxia entera. ¿Te los imaginas cocinando juntos?
					</p>
					<p>
						Estos dos grandes cocineros serán los protagonistas del Gran Showcooking de Navidad de
						Alimerka, que vamos a celebrar por todo lo alto en Oviedo, en el Palacio de Exposiciones y
						Congresos. Nos mostrarán cómo cocinar los productos de nuestra tierra en directo, desde la
						tradición y con sorprendentes toques de autor.
					</p>
					<p> ¡Va a ser toda una fiesta! No te lo puedes perder:
						<span class="gotham-bold">participa y ven a disfrutar de una cocina con
							estrellas.
						</span>
					</p>
				</div>
			</div>
			<div class="col-12 col-lg-6 align-self-end">
				<img src="{{ root }}static/img/chefs-silu.png" class="w-100" alt="Pepe Rodríguez y Nacho Manzano">
			</div>
		</div>
	</div>
</div>