<div class="container-lg">
	<h1 class="gotham-bold">
		Contacta
	</h1>
	<p>
        Estamos disponibles de lunes a viernes de 09:00 a 17:00 en el teléfono gratuito
        <a href="tel:0034900350000" class="poppins-bold text-black">900 35 00 00</a>
			o en el e-mail
			<a href="mailto:35aniversario@alimerka.es" class="poppins-bold text-black">35aniversario@alimerka.es</a>
		</span>
		<span class="d-block small">*Excluidos fines de semana, festivos nacionales, festivos locales y de su Comunidad Autónoma.</span>
	</p>
</div>
