<p class="text-big text-shine">
    Regístrate y participa en el sorteo de una <span class="gotham-bold d-inline-block">entrada doble</span> para
    asistir al evento del <span class="gotham-bold d-inline-block">29 de noviembre</span> a las <span
        class="gotham-bold">19:30 hrs</span> en el Palacio de Exposiciones y Congresos de Oviedo.
</p>