<div class="my-5 py-5 ps-md-4">
	<div class="row justify-content-end align-items-center mb-3">
		<div class="col-4">
			<img src="{{root}}static/img/ico-loser.svg" class="ico-lg img-shadow" alt="No premiado">
		</div>
		<div class="col-auto">
			<h3 class="text-uppercase gotham-bold mb-0">
				<span class="bg-yellow">
					&nbsp;Participación&nbsp;
				</span>
			</h3>
			<h3 class="text-uppercase gotham-bold mb-0">
				<span class="bg-yellow">
					&nbsp;no premiada&nbsp;
				</span>
			</h3>
		</div>
	</div>
	<p class="text-big text-black">
		Sigue intentándolo con todas tus
		<span class="gotham-bold d-md-block">
			compras iguales o superiores a 35€
		</span>
		hasta el 22 de noviembre.
	</p>
	<p class="text-big text-black">
		<span class="gotham-bold d-md-block">
			¡Mucha suerte!
		</span>
	</p>
	<p class="my-4">
		<a class="btn-md btn-yellow border border-yellow border-4 px-2" href="{{ router_url({controller: 'Pages', action: 'index'}) }}">
			<span class="gotham-bold text-uppercase">
				VOLVER A INTENTARLO
			</span>
		</a>
	</p>
	<p>
		Para cualquier duda puedes escribirnos a
		<a href="mailto:35aniversario@alimerka.es" class="text-black">35aniversario@alimerka.es</a>
	</p>
</div>
