{% include 'elements/header-title.twig' %}
<div class="ps-md-4">
	{% include 'elements/header-information-text.twig' %}
	<p class="mb-2 text-big text-shine gotham-bold d-md-block">
		¡Descubrirás al momento si has ganado!
	</p>
	{% include 'elements/pincode-form.twig' %}

</div>