<div class="text-center py-3">
	<h1 class="h3 gotham-black mb-0">¡Ven al</h1>
	<img src="{{ root }}static/img/claim-header-title.svg" alt="" class="h-100 mb-2" widht="" height="">
	<h1 class="h3">con <span class="gotham-black">Pepe Rodríguez</span> y <span class="gotham-black">Nacho Manzano!</span></h1>
</div>