<div class="my-5 py-5 ps-md-4">
	<h1 class="display-md-4 mb-0 text-uppercase gotham-black text-black">
		¡Muchas gracias!
	</h1>
	<p class="text-big gotham-bold text-black mb-0 mb-md-4">
		El periodo de registro ha finalizado.
	</p>
	<p class="text-big text-black mb-0">
		Los ganadores del sorteo recibirán muy pronto un código QR con sus entradas por <span class="d-inline-block">e-mail</span> con los próximos
		pasos para asistir al 
	</p>
	<div>
		<h3 class="text-uppercase gotham-bold mb-0">
			<span class="bg-yellow">
				&nbsp;GRAN SHOWCOOKING&nbsp;
			</span>
		</h3> 
	</div>
	<p class="mb-2 mb-md-5 text-big text-black">
		del 29 de noviembre.
	</p>
</div>
