<div class="mt-4 ps-md-4" style="min-height: 400px">
	<h1 class="display-6 mb-0 text-uppercase gotham-black text-shadow text-white">
		¡Gracias por participar!
	</h1>
	<h3 class="my-4 text-shadow text-white">
		Recibirás un <span class="d-inline-block">e-mail</span> de confirmación.
	</h3>
</div>