<div class="py-3 my-md-5 py-md-5 ps-md-4">
	<p class="text-uppercase mb-0">
		<span class="h3 bg-yellow gotham-bold">
			&nbsp;¡Enhorabuena,&nbsp;
		</span>
	</p>
	<p class="text-uppercase mb-0">
		<span class="h4 bg-yellow gotham-bold">
			&nbsp;HAS GANADO UNA
		</span>
		<span class="h3 bg-yellow gotham-bold">
			ENTRADA DOBLE,&nbsp;
		</span>
	</p>
	<p class="text-uppercase">
		<span class="h4 bg-yellow gotham-bold">
			&nbsp;PARA ASISTIR AL
		</span>
		<span class="h3 bg-yellow gotham-bold">
			GRAN SHOWCOOKING!&nbsp;
		</span>
	</p>
	<p class="text-uppercase">
		DÍA: 29 de NOVIEMBRE
		<br>HORA APERTURA PUERTAS: 19:00 HRS
		<br>HORA INICIO EVENTO: 19:30 HRS
	</p>
	<p class="text-big text-black">
		Te hemos enviado un
		<span class="gotham-bold">
			código QR
		</span>
		<span class="d-md-block">
			con tus entradas al e-mail.
		</span>
	</p>
	<p>
		Si no lo has recibido puedes escribirnos a
		<a href="mailto:35aniversario@alimerka.es" class="text-black gotham-bold d-block">35aniversario@alimerka.es</a>
	</p>
</div>
