<section class="py-3">
    <div class="container">
        <h1 class="gotham-bold">
			Cómo participar
		</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-0 g-sm-3 g-md-5 text-center">
			<div class="col">
				<div class="mx-auto my-3">
					<img src="{{ root }}static/img/ico-purchase.svg" alt="" class="ico-lg">
				</div>
				<p class="mb-0">
                    <span class="text-yellow poppins-bold">1.</span>
                    <span class="poppins-bold">
					Realiza una compra igual o superior a 35 euros. </span>En tu ticket de compra o e-mail de confirmación de pedido aparecerá un código.
				</p>
			</div>
			<div class="col">
				<div class="mx-auto my-3">
					<img src="{{ root }}static/img/ico-form.svg" alt="" class="ico-lg">
				</div>
				<p class="mb-0">
                    <span class="text-yellow poppins-bold">2.</span>
                    <span class="poppins-bold">Introduce tu código y tus datos personales </span>
                    para participar en el sorteo.
				</p>
			</div>
			<div class="col">
				<div class="mx-auto my-3">
					<img src="{{ root }}static/img/ico-mail.svg" alt="" class="ico-lg">
				</div>
				<p class="mb-0">
                    <span class="text-yellow poppins-bold">3.</span>
                    <span class="poppins-bold">¡Descubre si has ganado en el momento!</span>
					Si has salido ganador recibirás un <span class="d-inline-block">e-mail</span> con tu entrada doble.
				</p> 
			</div>
			<div class="col">
				<div class="mx-auto my-3">
					<img src="{{ root }}static/img/ico-participate.svg" alt="" class="ico-lg">
				</div>
				<p class="mb-0">
                    <span class="text-yellow poppins-bold">4.</span>
                    <span class="poppins-bold">
                        Sigue participando.
                    </span>
                    Si no has conseguido ser ganador a la primera... ¡no te desesperes! Puedes serlo hasta el 22 de noviembre.
                </p>
			</div>
		</div>
    </div>
</section>