<div class="bg-image-pescaderia bg-cover bg-right">
	<div class="d-md-none">
		<img src="{{ root }}static/img/pescaderia.jpg" class="w-100" alt="pescadería">
	</div>
	<div class="container pb-3 py-sm-3 py-md-5">
		<div class="px-3 px-md-0 py-3 py-md-4">
			<div class="row text-white text-shadow">
				<div class="col-12 col-lg-9 offset-lg-3 col-xl-7 offset-xl-5 text-center">
					<h1 class="h3 gotham-black mb-4">
						Celebra esta Navidad con los mejores productos de nuestra gastronomía. 
					</h1>
					<div class="text-shadow text-white text-big">
						<p>
							Esta Navidad queremos celebrarla contigo ofreciéndote una gran variedad de productos de temporada, siempre frescos, para que puedas elaborar los menús más especiales para estas fiestas. Pescados y mariscos de nuestro mar, carnes de nuestra tierra y una selección de las mejores frutas y verduras cultivadas con mimo en nuestras huertas. Muy cerca de ti, para que disfrutes de la mejor calidad y el mejor sabor, además, al mejor precio.
						</p>
						<p>
							Nuestro equipo de profesionales estará encantado de atenderte y recomendarte los productos más adecuados para tus celebraciones. Recuerda que puedes realizar tus encargos en nuestras secciones de frescos con antelación, para que en estas fechas señaladas no te falte de nada. 
						</p>
						<p class="gotham-bold">
						¡Consulta toda la información en tu Alimerka de confianza!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>