<a class="btn btn-yellow border border-yellow border-4 px-5" href="{{ router_url({controller: 'Pages', action: 'winners'}) }}">
	<span class="gotham-bold text-uppercase">
		Ver ganadores
	</span>
</a>